#dpw-admin-metaboxes-general div.setting-group:last-child { margin-bottom: 0 };
#dpw-admin-metaboxes-general div.setting:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#dpw-admin-metaboxes-general div.setting p { margin-top: 0px; }
#dpw-admin-metaboxes-general div.settingname { float: left; width: 50%; margin-right: 6px; }
#dpw-admin-metaboxes-general div.settingvalue { float: left; width: 48%; }
#dpw-admin-metaboxes-general div.setting-friends, #dpw-admin-metaboxes-general div.setting-startpage, #dpw-admin-metaboxes-general div.setting-groups, #dpw-admin-metaboxes-general div.setting-welcomemsg { margin-top: 8px; margin-bottom: 30px; }
#dpw-admin-metaboxes-general div.wide div.settingname { clear: left; }
#dpw-admin-metaboxes-general div.wide div.settingvalue, #dpw-admin-metaboxes-general div.wide div.settingname { width: 98%; margin-left: 6px; }

#dpw-admin-metaboxes-general textarea, #dpw-admin-metaboxes-general select, #dpw-admin-metaboxes-general input[type="text"] { width: 100%; }
#dpw-admin-metaboxes-general textarea { height: 128px; }
#dpw-admin-metaboxes-general select[multiple="multiple"] { height: 96px; }

#poststuff .inside, #poststuff .inside p { font-size: 12px; }
#dpw-admin-metaboxes-general div.inside ul { margin-left: 2em; }
#dpw-admin-metaboxes-general div.inside ul li { list-style: square; }
#dpw-admin-metaboxes-general div.inside ul li.rss { list-style-image: url(/wp-includes/images/rss.png); }
#dpw-admin-metaboxes-general ul.menu:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#dpw-admin-metaboxes-general ul.menu li { float: left; list-style: none !important; margin-bottom: 0; padding-right: 6px; }
#dpw-admin-metaboxes-general ul.menu { margin-left: 6px !important; }

#dpw-admin-metaboxes-general span.ampersand { font-family: Baskerville, Palatino, "Palatino Linotype", Constantia, "Book Antiqua", serif; font-style: italic; font-size: 1.1em; }
div.dpw-spacer { border-top: 1px solid #f0f0f0; padding-bottom: 12px; }
#bp-admin-nav li.current a { color: #888; text-decoration: none; }
div.metabox-prefs dt { font-style: italic; }
div.metabox-holder { padding-top: 0 !important; }

#email { display: none; }
#email div.setting { margin-top: 6px; }
#email div.setting h5 { font-size: 15px; margin: 30px 0 0 6px; }
#email div.wide div.settingname { width: 98%; margin-left: 6px; }